.footer {
  width: 100%;
<<<<<<< HEAD
  padding: 10px 0;
=======
  padding: 20px 0;
>>>>>>> 2540049577f3cf9b95d1ec086199e7e59819833b
  background: #eee;
}
.made-by {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  color: #888;
}
.love{
  color: red;
  font-size: 25px;
}
.react{
  color: rgb(72, 134, 226);
  font-weight: bold;
}
.name {
  color: black;
  font-weight: bold;
}